<section class="section grid grid-cols-1 sm:grid-cols-2 justify-between mb-24">
    <div class="my-8 pl-2 pt-64 pr-10">
        <h3 class="text-white font-bold mt-16 mb-8 text-xl md:text-2xl">
            {{ obj.title }}
        </h3>
         <h3 class="text-white my-8 font-bold text-lg" style="line-height: 1.3rem;">
            {{ obj.text }}
        </h3>
    </div>
    <div class="my-8 w-3/5 ml-16">
        <div class="col s6 px-4 center landing-contact-form">


            <form name="contactForm" novalidate>
                <div class="input-field">
                    <i class="material-icons prefix white-text">person</i>
                    <input class="border-white" type="text" id="name" name="name">
                    <label class="red-text" for="name">Name</label>
                    <!-- <small ng-show="contactForm.name.$touched && contactForm.name.$invalid" class="red-text">Please enter your name</small> -->
                </div>
               
                <div class="input-field">
                    <i class="material-icons prefix white-text">email</i>
                    <input class="border-white" type="email" id="email" name="email">
                    <label class="red-text" for="email">Email</label>
                    <!-- <small ng-show="contactForm.email.$touched && contactForm.email.$invalid" class="red-text">Please enter your email</small> -->
                </div>
                <div class="input-field">
                    <i class="material-icons prefix white-text">present_to_all</i>
                    <input class="border-white" type="text" id="subject" name="subject">
                    <label class="red-text" for="subject">Subject</label>
                    <!-- <small ng-show="contactForm.subject.$touched && contactForm.subject.$invalid" class="red-text">Please enter a subject</small> -->
                </div>
                <div class="input-field">
                    <i class="material-icons prefix white-text">message</i>
                    <textarea class="materialize-textarea" name="message"  id="message" rows="30" cols="10"></textarea>
                    <label class="red-text" for="message">Your Message</label>
                    <!-- <small ng-show="contactForm.message.$touched && contactForm.message.$invalid" class="red-text">Please enter your message</small> -->
                </div>
                <div class="input-field center-align">
                    <input type="submit"  class="btn-large yellow darken-2 font-bold white-text waves-effect waves-light" value="SUBMIT">
                </div>


            </form>
        </div>
    </div>
</section>