<div class="row my-8">
    <div class="col s10 l10 m8 push-m-2 push-l1 push-s1">
        <form #enrollStudentForm="ngForm">
            <div class="mb-8 mt-4">
                <i class="material-icons left mx-2">account_balance</i>

                <span class="black-text mx-2 text-xl font-bold">Enrollment</span>
            </div>
            <h3 class="text-2xl capitalize center-align font-bold green-text text-darken-4">
                {{title}}
            </h3>
            <div class="input-field">
                <input type="text" name="name" id="name" />
                <label for="name">Name</label>
            </div>
            
            <div class="input-field">
                <input type="email" name="email" id="email" />
                <label for="email">Email</label>
            </div>
            
            <div class="input-field">
                <input type="text" name="usename" id="username" />
                <label for="username">UserName</label>
            </div>
            
            <div class="input-field">
                <input type="password" name="password" id="password" />
                <label for="password">Password</label>
            </div>

            <div class="input-field">
                <input type="text" name="address" id="address" />
                <label for="address">Address</label>
            </div>

            <div class="input-field">
                <input type="number" name="zip" id="zip" />
                <label for="zip">Zip Code</label>
            </div>

            <div class="input-field">
                <input type="number" name="age" id="age" />
                <label for="age">Age</label>
            </div>

            <div>
                <div class="input-field col s12 m6 l6">
                    <select>
                        <option disabled selected>Pick A class</option>
                        <option name="class" *ngFor="let class of class" [value]="class">
                            {{class}}
                        </option>
                        <label>Pick Your child's class</label>
                    </select>
                </div>
    
                <div class="input-field col s12 m6 l6">
                    <h5 class="text-xl green-text text-darken-4">Pick your child's sex</h5>
                    <p>
                        <label>
                            <input type="radio" name="sex" value="M" />
                            <span>Male</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="radio" name="sex" value="F" />
                            <span>Female</span>
                        </label>
                    </p>
                </div>
            </div>

            <div class="center input-field">
                <button type="submit" name="submit" id="submit" style="border-radius: .5rem;" class="btn-large text-xl font-bold">Submit</button>
            </div>
        </form>
    </div>
</div>